{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}
{% block body %}
        <nav>
            <div class="navbar navbar-blue nav-home">
                <div class="navbar-right">
                    <div class="container nav-container">
                        <input class="checkbox" type="checkbox" name="" id="" />
                        <div class="hamburger-lines">
                            <span class="line line1"></span>
                            <span class="line line2"></span>
                            <span class="line line3"></span>
                        </div>  
                        <div class="logo1">
                        
                        </div>
                        <div class="menu-items">
                            {% if app.user %}
                                {# si on veux on peut faire que le admin peut aller au activiter pour ajouter le marque etc
                                {% if is_granted("ROLE_ADMIN") %}
                                {% endif %}
                                #}
                                <li> <a href="{{path('app_home')}}">Acceuil</a></li>
                                <li> <a href="{{path('app_join_events')}}">Join event</a></li>
                                <li> <a href="{{path('Event_add')}}">Create event</a></li>
                                <li> <a href="{{path('app_board_game')}}">BoardGames</a></li>
                                <li><a href="{{ path('app_home') }}#Contact">Contact</a></li>
                                <li><a href="{{path('app_logout')}}">Logout</a></li>
                            {% else %}
                                <li><a href="{{ path('app_login') }}">Connexion</a></li>	
                                <li><a href="{{path('app_register')}}">Inscription</a></li>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% if app.user %}       
                <button id="Profile"><i class="fa-solid fa-user"></i> USER<i class="fa-solid fa-angle-right"></i></button>
                <div id="myInfo" class="animate">
                <div class="info-user">
                <div class="centre-user">
                    <h1>{{ app.user.getPseudo }}'s Profile</h1>
                    <h2>Events</h2>
                    {% set joinedEvents = app.user.participant %}
                    {% set createdEvents = app.user.created %}
                    {% if createdEvents is empty and joinedEvents is empty %}
                        <p>No events found.</p>
                    {% else %}
                            {% if app.user.created |length > 0 %}
                                <div class="Created-User">
                                    <p>Created By USER :</p>
                                    <ol>
                                        {% for event in app.user.created %}
                                            {% set participantCount = event.participant.count() %}
                                            {% if participantCount == 1 %}
                                                <dl><a href="{{ path("Event_show",{'id':event.id}) }}">{{ event.name }}</a> : 1 participant</dl>
                                            {% else %}
                                                <dl><a href="{{ path("Event_show",{'id':event.id}) }}">{{ event.name }}</a> : {{ participantCount }} participants</dl>
                                            {% endif %}
                                        {% endfor %}
                                    </ol>
                                </div>
                            {% endif %}

                            {% if joinedEvents|length > 0 %}
                                <div class="Joined-User">
                                    <p>Joined By USER :</p>
                                    <ol>
                                    {% for event in joinedEvents %}
                                        {% set participantCount = event.participant.count() %}
                                        {% if participantCount == 1 %}
                                            <dl><a href="{{ path("Event_show",{'id':event.id}) }}">{{ event.name }}</a> : 1 participant</dl>
                                        {% else %}
                                            <dl><a href="{{ path("Event_show",{'id':event.id}) }}">{{ event.name }}</a> : {{ participantCount }} participants </dl>
                                        {% endif %}
                                    {% endfor %}
                                    </dl>
                                </div>
                            {% endif %}
                    {% endif %}

                    <h2>Comments</h2>
                    {% if app.user.opinion is empty %}
                        <p>No comments found.</p>
                    {% else %}
                        <ol>
                            {% for comment in app.user.opinion %}
                                <dl class="Comment-user">{{ comment.content }} - <a href="{{ path("Event_show",{'id':comment.event.id}) }}">{{ comment.event.name }}</a> </dl>
                            {% endfor %}
                        </ol>
                    {% endif %}
                </div>
                </div>
                </div>
    {% endif %}
    <img class="logoHome" src="{{ asset('img/logo2.png') }}" alt="logo">
    <video class="video" autoplay muted loop>
        <source src="{{ asset('vid/Gaming3.mp4') }}" type="video/mp4" />
    </video>
    {% if is_granted("ROLE_USER") %}
    <p class="video-text">Game + Events </p>
    <div class="video-text2">
        <a href="{{path('app_join_events')}}">Join event</a>
        <a href="{{path('Event_add')}}">Create event</a>
    </div>
    {% endif %}
    {% if is_granted('ROLE_USER') == false %}
        <p class="video-not">PLS Connect To Use Our Site </p>
        <div class="video-not1">
            <a class="video-notA" href="{{ path('app_login') }}">Connexion</a>
        </div>
    {% endif %}
    {% if is_granted("ROLE_USER") %}
    <p class="video-text3">Board game is a world renowned destination for games and adventure </p>
    <p class="video-text4"> caves open to explore and experience daily.</p>
     
                                
    <div class="check">
        <p class="check-p">Check Out The Latest</p>
        {# <span class="lien-check"> </span> #}
    </div>
    <div class="gallery">
        <!-- Swiper -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                    {% for laste in lastes %}
                        <div class="swiper-slide" id="event-{{ laste.id }}">
                            <div class="box1">
                                <div class="box-left1">
                                    <div class="date-box1">
                                        <div class="date-left">
                                            <p>{{ laste.dateEvent|date("M")}}</p>
                                            <p>{{ laste.dateEvent|date("d")}}</p>
                                        </div>
                                        <div class="date-right">
                                            <img class="box-img" src="{{ asset('img/' ~ laste.imageName) }}" alt="{{ laste.imageName }}">
                                        </div>
                                    </div>
                                    <div class="box1-right">
                                        <div class="adresse-box1">
                                            <div class="first-adresse" >
                                                <p><a class="box-name" href="{{ path("Event_show",{'id':laste.id}) }}"> {{laste.name }} </a></p>
                                                {% set places_left = laste.places - laste.participant|length %}
                                                {% if places_left < 0 %}
                                                {% set places_left = 0 %}
                                                {% endif %}
                                                <p>{{ places_left }} places left</p>
                                            </div>
                                            <p class="adress-p1" >{{ laste.adresse}}
                                                {{ laste.cp}} {{ laste.city}}</p>
                                            <p>{{ laste.dateEvent|date("H:iA")}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div id="info" class="info">
            <h3 class="h3-out">We'er Dynamic Team Of Talented People Of Events Planner & Marketing Expert</h3>
            <p class="p-out">To achieve this, it would be necessary to have uniform grammar pronunciation and more common words. If several languages of the resulting language.</p>
        </div>
        <div class="flex">
            <div class="flex-box">
                <h3 class="flex-h3">1499+</h3>
                <p class="flex-p">Complete Events</p>
                <figcaption class="card">
                    <figure class="card-header">
                        <img class="img" src="/img/member1.png" alt="Anna G. Wilhite">
                        <div class="sc">
                            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                            <a href=""><i class="fa-brands fa-twitter"></i></a>
                            <a href=""><i class="fa-brands fa-skype"></i></a>
                        </div>
                    </figure>
                </figcaption>
                <h3 class="flex2-h3">Anna G. Wilhite</h3>
                <p class="flex2-p">CEO/Founder</p>
            </div>
            <div class="flex-box">
                <h3 class="flex-h3">1080k</h3>
                <p class="flex-p">Satisfied Clients</p>
                <figcaption class="card">
                    <figure class="card-header">
                        <img class="img" src="/img/member2.png" alt="William S. Baly">
                        <div class="sc">
                            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                            <a href=""><i class="fa-brands fa-twitter"></i></a>
                            <a href=""><i class="fa-brands fa-skype"></i></a>
                        </div>
                    </figure>
                </figcaption>
                <h3 class="flex2-h3">William S. Baly</h3>
                <p class="flex2-p">CTO/Co-Founder</p>
            </div>
            <div class="flex-box">
                <h3 class="flex-h3">608</h3>
                <p class="flex-p">Online Team Members</p>
                <figcaption class="card">
                    <figure class="card-header">
                        <img class="img" src="/img/member3.png" alt="Maria B. Morales">
                        <div class="sc">
                            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                            <a href=""><i class="fa-brands fa-twitter"></i></a>
                            <a href=""><i class="fa-brands fa-skype"></i></a>
                        </div>
                    </figure>
                </figcaption>
                <h3 class="flex2-h3">Maria B. Morales</h3>
                <p class="flex2-p">Events Planner</p>
            </div>
            <div class="flex-box">
                <h3 class="flex-h3">50</h3>
                <p class="flex-p">Employee</p>
                <figcaption class="card">
                    <figure class="card-header">
                        <img class="img" src="/img/member4.png" alt="Luke L. Johnston">
                        <div class="sc">
                            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                            <a href=""><i class="fa-brands fa-twitter"></i></a>
                            <a href=""><i class="fa-brands fa-skype"></i></a>
                        </div>
                    </figure>
                </figcaption>
                <h3 class="flex2-h3">Luke L. Johnston</h3>
                <p class="flex2-p">Web Developer</p>
            </div>
        </div>
        <div class="tout-acc">
            <p class="acc-p check-p">Our Services</p>
            <div class="acc-flex">
                <div class="acc-flex1">
                    <div id="menu-acc">
                        <button class="accordion"> <i class="fa-solid fa-equals"></i> Organize Events </button>
                        <div class="panel">
                        <p class="menu"> Events list & Present Members.</p>
                        <p class="menu-info"> 
                            {% if app.user.created |length > 0 %}
                                <div class="events-list ">
                                    <ol>
                                        {% for event in app.user.created %}
                                            {% set participantCount = event.participant.count() %}
                                            {% if participantCount == 1 %}
                                                <dl><a href="{{ path("Event_show",{'id':event.id}) }}">{{ event.name }}</a> : 1 participant</dl>
                                            {% else %}
                                                <dl><a href="{{ path("Event_show",{'id':event.id}) }}">{{ event.name }}</a> : {{ participantCount }} participants</dl>
                                            {% endif %}
                                        {% endfor %}
                                    </ol>
                                </div>
                            {% endif %}
                        </p>
                        </div>

                        <button class="accordion"> <i class="fa-solid fa-equals"></i> Events Planning</button>
                        <div class="panel">
                            <p class="menu"> Food & Drinks.</p>
                            <p class="menu-info events-list"> Plus d'info : Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum pariatur ab dolore at, praesentium quas, iure ullam vero recusandae rerum laboriosam quasi quaerat deserunt commodi facere reprehenderit a eius laudantium! Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum error dolore facilis eius nulla hic eligendi ipsum aliquam modi. Obcaecati eligendi eveniet beatae officiis facilis earum ipsa minus nesciunt in. Lorem ipsum dolor sit amet consectetur adipisicing elit! .</p>
                        </div>

                        <button class="accordion"><i class="fa-solid fa-equals"></i> Travel</button>
                        <div class="panel">
                            <p class="menu"> Transport Method.</p>
                            <p class="menu-info events-list"> Plus d'info : Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum pariatur ab dolore at, praesentium quas, iure ullam vero recusandae rerum laboriosam quasi quaerat deserunt commodi facere reprehenderit a eius laudantium! Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum error dolore facilis eius nulla hic eligendi ipsum aliquam modi. Obcaecati eligendi eveniet beatae officiis facilis earum ipsa minus nesciunt in. Lorem ipsum dolor sit amet consectetur adipisicing elit! .</p>
                        </div>
                    </div>
                </div>
                <div class="acc-flex2">
                    <img class="acc-img" src="/img/Gaming-1.jpg" alt="service">
                </div>
            </div>
            
            </div>
        </div>
    <div class="back" id="Contact">
        <div class="parallax">
            <div class="demo">
                <h3 class="h3-demo" id="BeInTouch">Sign Up For Our Email Newsletter</h3>
                <p class="p-demo">Get news and pre-sale access codes from The Events in your inbox!</p>
                <div class="parallax-felx">
                    <form action="{{ path('process_newsletter') }}" method="POST">
                        <input name="email" placeholder="Type Your Email" type="text">
                        <button type="submit" class="start">JOIN THE UNDERGROUND</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>

    <div id="CONTACT" class="contact">
        <p class="gray">HERE WE GO</p>
        <p class="black">Video Reporting issues</p>
        <p class="text1">We Are happy to fix your Problem.</p>
<div class="contact-flex">
    <div class="form-contact">
        {{ form_start(ReportType, {'attr': {'id': 'contact-form'}}) }}
        <h2 class="h2-invitation">Will You be attending to any of the Events ?</h2>
        <div class="form-group">
            <div class="form-contact-content">
                {# <label>
                    <input type="radio" name="choix" value="1" onclick="changeColorButton(event)"> Yes
                </label>
                <label>
                    <input type="radio" name="choix" value="0" onclick="changeColorButton(event)"> No
                </label> #}
                {{ form_widget(ReportType.choix) }}
                {{ form_widget(ReportType.name, {'attr': {'value': app.user.getPseudo}}) }}
                {{ form_widget(ReportType.email, {'attr': {'value': app.user.email}}) }}
            </div>
        </div>
        <h2 class="h2-invitation1">Do You know the issue ?</h2>
        <div class="form-content1">
            {{ form_widget(ReportType.issueName) }}
            <input class="guest" type="button" value="+ Add issue" onclick="addIssue()">
        </div>
        <div id="issue-container">
            <div class="issue-block">
                <h2 class="h2-invitation1">Pls write your Issue here.</h2>
                {{ form_widget(ReportType.issueDescription) }}
            </div>
        </div>
        {{ form_widget(ReportType.submit) }}
        {{ form_end(ReportType) }}
    </div>
            <div>
                <video class="video-window" autoplay muted loop>
                    <source src="{{ asset('vid/report.mp4') }}" type="video/mp4" />
                </video>
            </div>
        </div>
    </div>


    {% endif %}
        {% if is_granted("ROLE_USER") %}
        <div  class="event">
            <p class="font-event">The Next Event</p>
            <p class="font-event1">01 . Mar .2024</p>
            <p class="font-event2">
                EVENT WILL START IN
            </p>
           
            <div class="days-content">
                <p class="font-event4">Just some hours...  </p>
                <div class="event-days">
                    <p class="count" id="demo"></p>
                        <div class="count1"> 
                            <p class="txt-d">Days</p>
                            <p>- Hours</p>
                            <p>-Minutes </p>
                            <p>-Seconds</p>
                        </div>
                </div>
                <p class="font-event4">  ...until we get to the next event</p>
            </div>
             {# <p class="font-event3">
                Thank you so much for visiting our website!
            </p>  #}
        </div>
        {% endif %}
        <div class="FEATURED-SHOWS">
        <div class="FEA">
        <p class="FEA-titre">Featured Shows{# EATURED SHOWS #}</p>
        {# <span class="lien-check FEA-span"> </span> #}
            <p class="FEA-p">Check out our lineup and packages and curate your trip to The Events Game.</p>
            <p class="FEA-p1"> Click on the "View All" button to see our full line-up.</p>
            <p class="FEA-p2"> Remember any day below ground is a good day.</p>
        </div>
        <div class="centre-a">
            {% if is_granted("ROLE_USER") %}
                <a class="FEA-a" href="{{path('app_join_events')}}">VIEW ALL</a>
            {% endif %}
        </div>
       
    </div>
{% endblock %}
{% block javascript %}
    <script>
    // get the current page path
    var currentPath = window.location.pathname;

    // check if it's the home index page
    if (currentPath === "/home") {
    // if it is, set the navbar height to 0
    document.querySelector(".navbar").style.height = "0";
    } else {
    // if it's not, set the navbar height to its default value
    document.querySelector(".navbar").style.height = "60px"; // replace with your actual navbar height
    }
    var slides = document.querySelectorAll('.swiper-slide');
    slides.forEach(function(slide) {
        var eventId = slide.getAttribute('id').replace('event-', '');
        slide.addEventListener('click', function() {
            window.location.href = '{{ path("Event_show", {"id": "EVENT_ID"}) }}'.replace('EVENT_ID', eventId);
        });
    });
    // Set the date we're counting down to
var countDownDate = new Date("Mar 01, 2024 12:37:25").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  var distance = countDownDate - now;
    
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // Output the result in an element with id="demo"
  document.getElementById("demo").innerHTML = days + "  " + hours + "  "
  + minutes + "  " + seconds;
    
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
{# 
function changeColorButton(event) {
    event.preventDefault();
    let choix = event.target.value;
    
    if (choix === "1") {
        // Apply styling for "Yes" selection
        let yesButton = document.querySelector('input[value="1"]');
        yesButton.parentNode.style.border = "dashed #88f988 3px";
        yesButton.parentNode.style.background = "#ddffdd";
        yesButton.parentNode.style.color = "#88f988";
        
       let noButton = document.querySelector('input[value="0"]');
        noButton.parentNode.style.border = "dashed #white 3px";
        noButton.parentNode.style.background = "#white";
        noButton.parentNode.style.color = "#black";

    } else if (choix === "0") {
        // Apply styling for "No" selection
        let noButton = document.querySelector('input[value="0"]');
        noButton.parentNode.style.border = "dashed #db3c3c 3px";
        noButton.parentNode.style.background = "#ea8484";
        noButton.parentNode.style.color = "#db3c3c";
        
        let yesButton = document.querySelector('input[value="1"]');
        yesButton.parentNode.style.border = "dashed #white 3px";
        yesButton.parentNode.style.background = "#white";
        yesButton.parentNode.style.color = "#black";
    }
} #}









function addIssue() {
  var issueContainer = document.getElementById('issue-container');
  var issueBlocks = issueContainer.querySelectorAll('.issue-block');
  
  if (issueBlocks.length < 2) {
    let contact = document.querySelector('.contact')
    contact.style.height="110vh";
    var issueBlock = document.querySelector('.issue-block');
    var clone = issueBlock.cloneNode(true);
    issueContainer.appendChild(clone);
  }
}
</script>
<script>
    var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>
{% endblock %}



