{% extends 'base.html.twig' %}

{% block title %}Register Form - Boread Games{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="h1-reg">Register Form</h1>
    
    
    
    {{ form_start(registrationForm, {'attr': {'class': 'reg-form'}}) }}
        <div class="reg-form2">
        {{ form_row(registrationForm.email, {'attr': {'class': 'email-input'}}) }}
        {{ form_row(registrationForm.pseudo, {'attr': {'class': 'pseudo-input'}}) }}
        <div class="password-div">
            {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }, {'attr': {'class': 'pass-input'}}) }}
        </div>
        <div class="terms">
         <i class="fa-solid fa-list-check">{{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'terms-input'}}) }}</i>
            <p>
                Too see our terms flow the link in bio <a href="/montion#donnes"> Terms</a>
            </p>
            
        </div>
       
        </div>
        <div class="centre-a1">
            <button type="submit" class="btn-reg btn">Register</button>
        </div>
        
    {{ form_end(registrationForm) }}
    
{% endblock %}
