{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="h1-reg">Register</h1>

    {{ form_start(registrationForm, {'attr': {'class': 'reg-form'}}) }}
        {{ form_row(registrationForm.email, {'attr': {'class': 'email-input'}}) }}
        {{ form_row(registrationForm.pseudo, {'attr': {'class': 'pseudo-input'}}) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }, {'attr': {'class': 'pass-input'}}) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn-reg btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
