{% block body %}
    <h1>New Report</h1>
    <p><strong>Yes:</strong> {{ yes }}</p>
    <p><strong>No:</strong> {{ no }}</p>
    <p><strong>Name:</strong> {{ name }}</p>
    <p><strong>Issue Name:</strong> {{ issueName }}</p>
    <p><strong>Issue Description:</strong> {{ issueDescription }}</p>
{% endblock %}