<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22></text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/css/uikit.min.css"/>
            <link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
            <link href='https://fonts.googleapis.com/css?family=Great Vibes' rel='stylesheet'>
            <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
            <link rel="stylesheet" href="{{ asset("css/style.css") }}">
        {% endblock %}
        
    </head>
    
    <body>
    <header>
    {% if app.request.attributes.get('_route') != 'app_home' %}
        <nav>
            <div class="navbar navbar-blue">
                <div class="navbar-left">
                        <ul class="navbar-nav">
                            <ol >
                                <img class="logo" src="{{asset("img/logo.png")}}" alt="logo">
                            </ol>
                        </ul>
                </div>
                <div class="navbar-right">
                    <div class="container nav-container">
                        <input class="checkbox" type="checkbox" name="" id="" />
                        <div class="hamburger-lines">
                            <span class="line line1"></span>
                            <span class="line line2"></span>
                            <span class="line line3"></span>
                        </div>  
                        <div class="logo1">
                        </div>
                        <div class="menu-items">
                            {% if app.user %}
                                {# si on veux on peut faire que le admin peut aller au activiter pour ajouter le marque etc
                                {% if is_granted("ROLE_ADMIN") %}
                                {% endif %}
                                #}
                                <li> <a href="{{path('app_home')}}">Acceuil</a></li>
                                <li> <a href="{{path('app_join_events')}}">Join event</a></li>
                                <li> <a href="{{path('Event_add')}}">Create event</a></li>
                                <li> <a href="{{path('app_board_game')}}">BoardGames</a></li>
                                {# <li> <a href="{{path('Contact')}}">Contact</a></li> #}
                                <li><a href="{{ path('app_home') }}#BeInTouch">Contact</a></li>
                                <li><a href="{{path('app_logout')}}">Logout</a></li>
                            {% else %}
                                <li><a href="{{ path('app_login') }}">Connexion</a></li>	
                                <li><a href="{{path('app_register')}}">Inscription</a></li>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
                        {% if app.user %}       
                            <button id="Profile"><i class="fa-solid fa-user"></i> USER<i class="fa-solid fa-angle-right"></i></button>
                            <div id="myInfo" class="animate">
                                <div class="info-user">
                                    <div class="centre-user">
                                        <h1>{{ app.user.getPseudo }}'s Profile</h1>
                                        <h2>Events</h2>
                                        {% set createdEvents = app.user.created %}
                                        {% set joinedEvents = app.user.participant %}

                                        {% if createdEvents is empty and joinedEvents is empty %}
                                            <p>No events found.</p>
                                        {% else %}
                                            <ul>
                                                {% if createdEvents|length > 0 %}
                                                    <div class="Created-User">
                                                        <p>Created By USER :</p>
                                                        {% for event in createdEvents %}
                                                            {% set participantCount = event.participant.count() %}
                                                            {% if participantCount == 1 %}
                                                            <ul>{{ event.name }} : 1 participant</ul>
                                                            {% else %}
                                                            <ul>{{ event.name }} : {{ participantCount }} participants</ul>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                                
                                                {% if joinedEvents|length > 0 %}
                                                    <div class="Joined-User">
                                                        <p>joined By USER :</p>
                                                        {% for event in joinedEvents %}
                                                            {% set participantCount = event.participant.count() %}
                                                            {% if participantCount == 1 %}
                                                            <ul>{{ event.name }} : 1 participant</ul>
                                                            {% else %}
                                                            <ul>{{ event.name }} : {{ participantCount }} participants</ul>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </ul>
                                        {% endif %}


                                        <h2>Comments</h2>
                                        {% if app.user.opinion is empty %}
                                            <p>No comments found.</p>
                                        {% else %}
                                            <ul>
                                                {% for comment in app.user.opinion %}
                                                    <ul class="Comment-user">{{ comment.content }} - {{ comment.event.name }}</ul>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
    {% endif %}
    </header>
    <div class="flash-messages">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                <p class="notice"><i class="fa-solid fa-triangle-exclamation"></i>{{ message }}</p>
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-error">
                <p class="notice"><i class="fa-solid fa-triangle-exclamation"></i>{{ message }}</p>
            </div>
        {% endfor %}
    </div>
        <main class="content">
            {% block body %}
                
            {% endblock %}
            {% block javascript %}{% endblock javascript %}
        </main>
        <footer class="footer">
            <div class="footer-part">

                <div class="footer-right">
                    <div>
                     réseaux sociaux
                    </div>
                    <div>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>
                <div class="footer-mid">
                    <p>BoardGame~event API</p>
                    <p class="p-footer">Created By © Ta_walid  </p>
                    <a href="{{path('app_montion')}}">mentions légales</a>
                </div>
                <div class="footer-left">
                    LOCATION
                                <a href="https://www.google.com/maps/place/14+Rue+du+Rh%C3%B4ne,+67100+Strasbourg/@48.5498541,7.7380323,17z/data=!3m1!4b1!4m6!3m5!1s0x4796c9855298939b:0x5702ac1dacd1a723!8m2!3d48.5498541!4d7.7380323!16s%2Fg%2F11c5jb859r">14 Rue du Rhône, 67100 Strasbourg,France</a>
                    Tel:
                    <a href="tel:+33388307830">03.88.30.78.30</a>

                </div>
                
            </div>
            
        </footer>
        {% block javascripts %}
            <script src="https://kit.fontawesome.com/7d334a9241.js" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
            <script>
                var swiper = new Swiper(".mySwiper", {
                slidesPerView: 1,
                spaceBetween: 30,
                loop: true,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                });
                // get the current page path
                var currentPath = window.location.pathname;

                // check if it's the login page
                if (currentPath === "/login") {
                // if it is, set the footer position to absolute and bottom 0
                document.querySelector(".footer").style.marginTop = "330px";
                document.querySelector(".content").style.marginTop = "50px";
                }
                // get the current page path
                var currentPath = window.location.pathname;

                // check if it's the login page
                if (currentPath === "/register") {
                // if it is, set the footer position to absolute and bottom 0
                document.querySelector(".footer").style.marginTop = "140px";
                document.querySelector(".content").style.marginTop = "50px";
                }
                
                window.onscroll = function() {scrollFunction()};
                function scrollFunction() {
                window.onscroll = function() { 
                    if (document.body.scrollTop > 40 || document.documentElement.scrollTop > 40) {
                    myBtn.style.opacity = "1";
                    } else {
                    myBtn.style.opacity = "0";
                    }
                    if (document.body.scrollTop > 15 || document.documentElement.scrollTop > 15) {
                    myButton.style.opacity = "1";
                    } else {
                    myButton.style.opacity = "0";
                    }};
                }
                function goup(x){

                const myBtn = document.getElementById("myBtn");
                myBtn.addEventListener("click", function () {
                //window.scrollTo(0, 0);
                window.scrollTo(
                    {
                    top: 0,
                    right: 0,
                    behavior: "smooth"
                    }
                );
                });
                }
                const infoUser = document.querySelector('.info-user');
                const myButton = document.querySelector('#Profile');
                const myInfo = document.querySelector('#myInfo');
                
                myButton.addEventListener('click', () => {
                if (myInfo.style.display === 'none') {
                    myInfo.style.display = 'block';
                    myInfo.classList.add('.animate.pop');
                } else {
                    myInfo.style.display = 'none';
                }
                });

                infoUser.addEventListener('click', () => {
                if(myInfo.style.display == 'block'){
                    myInfo.style.display = 'none';
                }else{
                    myInfo.style.display == 'block';
                }
                    
                });
                const lienCheck = document.querySelector('.lien-check');
                
            if (currentPath === "/home") {
                myButton.style.removeProperty('right'); 
                myButton.classList.add("profileHome");
                myButton.style.left = "10px ";
                myButton.style.removeProperty('top');
                myButton.style.top = "135px";
                infoUser.style.zIndex= "2";
                infoUser.style.height= "110vh";
                myButton.style.zIndex= "3";
                lienCheck.style.marginLeft= "630px";
                }
                else {
                    myButton.style.right = "10px ";
                }
            let mobile =(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent));

            if (currentPath != "/home" && mobile) {
                myButton.style.opacity="1";
                myButton.style.top="120px";
                myButton.style.left="10px";
                 myButton.style.removeProperty('right');
            }
            {# const chicked = document.querySelector('.nav-container .checkbox');
            const body = document.body;
            chicked.addEventListener('click', () => {
                if(mobile){
                   body.classList.add("fixed-position");
                }else{
                    body.classList.remove("fixed-position");
                }
                setTimeout(() => {
                    body.classList.remove("fixed-position");
                }, "600");
            }) #}
            </script>

        {% endblock %}
        <!--<i class="fa-solid fa-arrow-up"></i>-->
    <button onclick="goup(this)" id="myBtn" ><i class="fa-solid fa-arrow-up"></i></button>
    </body>
</html>