{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
        <div>
            <h3 class="h3_intro">Ajouter d'une Event :</h3>
            <button class="button_intro"><a href="{{path('Event_add')}}"> Addition</a></button>
        </div>
        <div class="box_container">
            <div class="box">
                {% for event in events %}
                    <p>ID <a href="{{ path("Event_show",{'id':event.id}) }}"> {{ event.id }} </a></p>
                     <p>Name <a href="{{ path("Event_show",{'id':event.id}) }}"> {{event.name }} </a></p>
                    
                    {# 
                    {% if is_granted("ROLE_ADMIN") %}
                        #}

                        <a class="fa-solid fa-pen-to-square"  href="{{ path('Event_edit', {'id':event.id}) }}"> </a>
                        <a class="fa-solid fa-trash-can" href="{{ path('Event_del', {'id':event.id}) }}"> </a>
                    {#
                    {% endif %}
                        #}
                {% endfor %}
            </div>
        </div>
{% endblock %}