{% extends 'base.html.twig' %}

{% block body %}

<a class="lien_show" href="{{ path('app_join_events') }}" ><i class="fa-solid fa-angle-left"></i>- Previous Page </a>
        <div class="box-centre">
            <div class="up-part">
                <div class="dateBox">
                    <p>{{ results.dateEvent|date("M")}}</p>
                    <p>{{ results.dateEvent|date("d")}}</p>
                </div>
                <img class="boxImg" src="{{ asset('img/' ~ results.imageName) }}" alt="{{ results.imageName }}">
            </div>
            <div class="dawn-part">
            <div class="midelle-part">
                        <p>{{ results.name }}</p>
                        <p>{{ results.dateEvent|date("l  H:i")  }} le {{ results.dateEvent|date("d/m/Y") }} </p>
                        {# <p class="place-join"> <a href="{{ path('add_participant', {'id': results.id, 'userId': app.user.id}) }}">Book a Place</a><i class="fa-solid fa-angle-right"></i></p> #}
                        <p class="button"><i class="fa-solid fa-map-pin color-hand"> <a href="{{ path('add_participant', {'id': results.id, 'userId': app.user.id}) }}">Book a Place</a></i></p>
                    </div>
                <div class="show-up">
                    
                    
                    <div class="show-down">
                    <div class="display" id="games">
    	                <div class="game-info">

                            <img class="img1" src="{% if gameInfos.boardgame.image is defined %}{{ gameInfos.boardgame.image }}{% else %}'/img/no-image.webp'{% endif %}" alt="noImg" id="gameImage">

                            <script>
                                var img = document.getElementById('gameImage');
                                img.onerror = function() {
                                    img.src = '/img/no-image.webp';
                                };
                            </script>

                            <div class="desc">
                                {{ gameInfos.boardgame.name|join }}
                                <div class="infos gray-text">
                                    {% if gameInfos.games[0].min_players is defined and gameInfos.boardgame.max_players is defined %}
                                        <i class='fa-solid fa-users-line'></i> From {{ gameInfos.boardgame.min_players }} to {{ gameInfos.boardgame.max_players }} players <br/>
                                    {% endif %}
                                    {% if gameInfos.boardgame.playtime is defined %}
                                        <i class='fa-regular fa-clock'></i> {{ gameInfos.boardgame.playtime }} min
                                    {% endif %}
                                </div>
                                <p class="Discripe">{% if gameInfos.boardgame.description is defined %} {{ gameInfos.boardgame.description | raw }}{% else %} <strong>No Text found In Api</strong>{% endif %}</p>
                                <p class="join-desc"> Event Maker Description words: </p>
                                <p class="desc-color">-{{ results.description}}</p>
                                     
                            </div>
                        
                        </div>
                        <div class="map">
                                <p class="Location">Locaited In :</p>
                                <div  id="mapid"></div>
                        </div>
                        
                    </div>
                     
                    
                    <p class="Postal"> {{ results.adresse}} {{results.cp}} {{results.city}}</p>
                    <p class="Postal-line"> </p>
                </div>
                </div>
            </div>
            
            <div class="comment">
            <div class="comment-form">
                <p class="mar-comment">Comments:</p>
                <form class="form-comment" method="POST" action="{{ path('add_comment', {'id': results.id}) }}">
                    <input type="hidden" name="eventId" value="{{ results.getId() }}">
                    <div class="InputContainer-comment">
                        <textarea rows=7 class="comment-input"  name="content"></textarea> 
                        <button class="comment-button">Add Comment</button>
                    </div>
                </form>
                <div class="boucle">
                    <p class="Postal-line"> </p>
                    {% set comments = results.getConcern() %}
                    {% for comment in comments|reverse %}
                        <div class="comment-item">
                            <p class="mar-comment font-comment">*-* : {{ comment.getContent() }}</p>
                            <div class="postedby">
                                <p ><small class="mar-comment">Posted by {{ comment.getUser().getPseudo() }} on {{ comment.getCreationDate()|date('d/m/Y') }} At {{ comment.getCreationDate()|date("H:iA") }} </small> </p>
                                {% if is_granted("ROLE_ADMIN") %}
                                    <a class="fa-solid fa-trash-can fa-sm admin left-trash" href="{{ path('Comment_del', {'id':comment.id}) }}"> </a>
                                {% endif %}
                            </div>
                        </div>
                         <p class="Postal-line"> </p>
                    {% endfor %}
                </div>
            </div>
    </div>
        </div>
        
    
{% endblock %}
{% block javascript %}
    {{ parent() }}
  <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
  <script>
    // Initialize the map
    var map = L.map('mapid').setView([{{ results.lat }}, {{ results.lon }}], 13);
    
    // Add the tile layer (replace the URL with your own tile provider)
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);
    
    // Add a marker to the map
    L.marker([{{ results.lat }}, {{ results.lon }}]).addTo(map);
  </script>
{% endblock javascript %}