{% extends 'base.html.twig' %}

{% block body %}

<a class="lien_show" href="{{ path('app_join_events') }}" ><i class="fa-solid fa-angle-left"></i>- Retour de Page </a>
        <div class="box-centre">
            <div class="boxi">
                <div class="dateBox">
                    <p>{{ results.dateEvent|date("M")}}</p>
                    <p>{{ results.dateEvent|date("d")}}</p>
                </div>
                <img class="boxImg" src="{{ asset('img/' ~ results.imageName) }}" alt="{{ results.imageName }}">
            </div>
            <div class="show-mode">
                <div class="show-up">
                    <div class="left-right">
                        <p>{{ results.name }}</p>
                        <p>{{ results.dateEvent|date("l  H:i")  }} le {{ results.dateEvent|date("d/m/Y") }} </p>
                    </div>
                    
                    <div class="show-down">
                    <div class="display" id="games">
    	                <div class="game-info">
                            <img class="img1" src="{{ gameInfos.games[0].image_url }}" alt="noImg">
                            <div class="desc">
                                {{ gameInfos.games[0].name }}
                                <div class="infos gray-text">
                                    <i class='fa-solid fa-users-line'></i>From {{gameInfos.games[0].min_players}} to {{gameInfos.games[0].max_players}} players  <br/>
                                     <i class='fa-regular fa-clock'></i> {{gameInfos.games[0].playtime}} min
                                </div>
                                <p class="Discripe">{{ gameInfos.games[0].description | raw }}</p>
                                <p class="join-desc"> Event Maker Description words: </br>{{ results.description}}</p>
                                <p class="place-join"> <a href="{{ path('add_participant', {'id': results.id, 'userId': app.user.id}) }}">Book a Place</a><i class="fa-solid fa-angle-right"></i></p>
                            </div>
                        </div>
                        
                    </div>
                    
                    <p class="Postal"> {{ results.adresse}} {{results.cp}} {{results.city}}</p>
                    <p class="Postal-line"> </p>
                </div>
                </div>
            </div>
            <div class="comment">
            <div class="comment-form">
                <p class="mar-comment">Comments:</p>
                <form class="form-comment" method="POST" action="{{ path('add_comment', {'id': results.id}) }}">
                    <input type="hidden" name="eventId" value="{{ results.getId() }}">
                    <div class="InputContainer-comment">
                        <input class="comment-input" type="text" name="content">
                        <button class="comment-button">Add Comment</button>
                    </div>
                </form>
                <div class="boucle">
                    <p class="Postal-line"> </p>
                    {% set comments = results.getConcern() %}
                    {% for comment in comments|reverse %}
                        <div class="comment-item">
                            <p class="mar-comment font-comment">*-* : {{ comment.getContent() }}</p>
                            <div class="postedby">
                                <p ><small class="mar-comment">Posted by {{ comment.getUser().getPseudo() }} on {{ comment.getCreationDate()|date('d/m/Y') }} At {{ comment.getCreationDate()|date("H:iA") }} </small> </p>
                                {% if is_granted("ROLE_ADMIN") %}
                                    <a class="fa-solid fa-trash-can fa-sm admin left-trash" href="{{ path('Comment_del', {'id':comment.id}) }}"> </a>
                                {% endif %}
                            </div>
                        </div>
                         <p class="Postal-line"> </p>
                    {% endfor %}
                </div>
            </div>
    </div>
        </div>

{% endblock %}
{% block javascript %}
    <script>
        

    </script>
{% endblock javascript %}